*.pyc
*.DS_Store
.project
.pydevproject
.coverage
*.log*
htmlcov/
MANIFEST
dist
_site/
_static/
settings/
.project_config.json
*.db
*.env
ehb_service/apps/api/helpers.py.bak
ehb_service/apps/api/middleware.py.bak
ehb_service/apps/api/migrations/0001_initial.py.bak
ehb_service/apps/api/models.py.bak
ehb_service/apps/api/tokens.py.bak
ehb_service/apps/api/views/__init__.py.bak
ehb_service/apps/api/views/externalrecord.py.bak
ehb_service/apps/api/views/externalsystem.py.bak
ehb_service/apps/api/views/group.py.bak
ehb_service/apps/api/views/organization.py.bak
ehb_service/apps/api/views/subject.py.bak
ehb_service/apps/core/admin.py.bak
ehb_service/apps/core/backends.py.bak
ehb_service/apps/core/encryption/EncryptionServiceBase.py.bak
ehb_service/apps/core/forms.py.bak
ehb_service/apps/core/migrations/0001_initial.py.bak
ehb_service/apps/core/models/clients.py.bak
ehb_service/apps/core/models/identities.py.bak
ehb_service/conf/settings.py.bak
